Java/bin/
Desktop.ini
Thumbs.db
.DS_Store
workspace.wp
*.pyc
__pycache__
Python/codility/__pycache__
Java/guava-29.0
Javascript/node_modules
Javascript/package-lock.json
C++/.vs
C++/Debug
C++/packages
C++/x64
C++/Qt/QtApp/x64
C++/Kata/x64
C++/Kata/Debug
*.tfstate
*.tfstate.backup
*.tfplan

.terraform
kubeconfig_*

Python/DataStructures/Notebooks/.ipynb_checkpoints
Python/DataStructures/Notebooks/.examples
