Java/bin/
Desktop.ini
Thumbs.db
.DS_Store
.vscode
.vs
workspace.wp
*.pyc
__pycache__
.ipynb_checkpoints/
Python/codility/__pycache__
Python/DataStructures/Notebooks/fecon235/
Java/guava-29.0
Javascript/node_modules
Javascript/package-lock.json
C++/.vs
C++/Debug
C++/packages
C++/x64
C++/Qt/QtApp/x64
C++/Kata/x64
C++/Kata/Debug
Unreal/Binaries
Unreal/DerivedDataCache
Unreal/Intermediate
Unreal/Content/StarterContent
Unreal/Content/PrivateContent
Unreal/Saved
Unreal/_backup
Houdini/backup
*.tfstate
*.tfstate.backup
*.tfplan
*_temp.yaml

.terraform
kubeconfig_*

Python/DataStructures/Notebooks/.ipynb_checkpoints
Python/DataStructures/Notebooks/.examples
